<h1>1. Einführung in Zeitreihendaten in Python</h1>
<h4>Session 1 (Dienstag 09:15 – 10:45)</h4>
<br>
1.1 Einführung in Python <br>
1.2 Einführung in Zeitreihen

<h2>1.1 Einführung in Python</h2>

<h3>Jupyter Notebooks</h3>

Dies ist dein (erstes?) Jupyter Notebook. Es besteht aus Markdown(Text)zellen und Codezellen. Zellen können über Strg Enter ausgeführt werden. Dies entspricht dem "Run"-Button im Notebook-Menü.

<div class="alert alert-info">
- Woran erkennst du, welche Zelle dies hier ist? <br>
- Doppelklicke auf verschiedene Markdownzellen und schau dir an, wie der Text hier formatiert wird (z.B. Überschriften, Umbrüche, ...) <br>
- Erstelle unterhalb dieser Zelle eine neue Markdownzelle mit der Überschrift "Meine Markdownzelle" und dem Text "Dies ist meine neue Markdownzelle." (Oder einem Text deiner Wahl) <br>
- Erstelle unter deiner Markdownzelle eine Codezelle, die dir ausrechnet, wie viel 1234567 mal 1234567 ist.
</div>

<h3>Pakete installieren und importieren</h3>

Pakete installieren

Pakete importieren

In [1]:
import pandas as pd
import numpy as np

<h3> Datensatz einlesen</h3>

In [2]:
ene = pd.read_csv("germany_fossil_renew.csv", sep=";")

In [3]:
ene.head()
#ene.info()
#ene.describe()

     Datum  Fossile   Wind  Solar
0  01/2016    37521   9771    702
1  02/2016    32023  10371   1350
2  03/2016    35256   6331   2591
3  04/2016    30078   6235   4129
4  05/2016    27404   6445   5190

In [4]:
ene['Datum'] = pd.to_datetime(ene['Datum'])
ene.head()

       Datum  Fossile   Wind  Solar
0 2016-01-01    37521   9771    702
1 2016-02-01    32023  10371   1350
2 2016-03-01    35256   6331   2591
3 2016-04-01    30078   6235   4129
4 2016-05-01    27404   6445   5190

In [5]:
ene.set_index('Datum', inplace=True)
ene.head()

            Fossile   Wind  Solar
Datum
2016-01-01    37521   9771    702
2016-02-01    32023  10371   1350
2016-03-01    35256   6331   2591
2016-04-01    30078   6235   4129
2016-05-01    27404   6445   5190

<div class="alert alert-info">
- Öffne ein neues Jupyter Notebook<br>
- Lade pandas und numpy<br>
- Lade die Airlinedaten, die du auch im heruntergeladenen Ordner hast<br>
- Versuche ein bisschen über die Daten herauszubekommen<br>
- Formatiere den Datensatz ähnlich wie unseren hier
</div>

<h3>Electricity data</h3>

In [6]:
elec = pd.read_csv("electricity.txt.gz", sep=",", header=None)
elec.head()

,0,1,2,3,4,5,6,7,8,9,...,311,312,313,314,315,316,317,318,319,320
0,14.0,69.0,234.0,415.0,215.0,1056.0,29.0,840.0,226.0,265.0,...,676.0,372.0,80100.0,4719.0,5002.0,48.0,38.0,1558.0,182.0,2162.0
1,18.0,92.0,312.0,556.0,292.0,1363.0,29.0,1102.0,271.0,340.0,...,805.0,452.0,95200.0,4643.0,6617.0,65.0,47.0,2177.0,253.0,2835.0
2,21.0,96.0,312.0,560.0,272.0,1240.0,29.0,1025.0,270.0,300.0,...,817.0,430.0,96600.0,4285.0,6571.0,64.0,43.0,2193.0,218.0,2764.0
3,20.0,92.0,312.0,443.0,213.0,845.0,24.0,833.0,179.0,211.0,...,801.0,291.0,94500.0,4222.0,6365.0,65.0,39.0,1315.0,195.0,2735.0
4,22.0,91.0,312.0,346.0,190.0,647.0,16.0,733.0,186.0,179.0,...,807.0,279.0,91300.0,4116.0,6298.0,75.0,40.0,1378.0,191.0,2721.0

In [7]:
elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Columns: 321 entries, 0 to 320
dtypes: float64(321)
memory usage: 64.4 MB

In [8]:
elec.columns=["Haushalt"+str(i) for i in range(1, 322)]
elec.head()

,Haushalt1,Haushalt2,Haushalt3,Haushalt4,Haushalt5,Haushalt6,Haushalt7,Haushalt8,Haushalt9,Haushalt10,...,Haushalt312,Haushalt313,Haushalt314,Haushalt315,Haushalt316,Haushalt317,Haushalt318,Haushalt319,Haushalt320,Haushalt321
0,14.0,69.0,234.0,415.0,215.0,1056.0,29.0,840.0,226.0,265.0,...,676.0,372.0,80100.0,4719.0,5002.0,48.0,38.0,1558.0,182.0,2162.0
1,18.0,92.0,312.0,556.0,292.0,1363.0,29.0,1102.0,271.0,340.0,...,805.0,452.0,95200.0,4643.0,6617.0,65.0,47.0,2177.0,253.0,2835.0
2,21.0,96.0,312.0,560.0,272.0,1240.0,29.0,1025.0,270.0,300.0,...,817.0,430.0,96600.0,4285.0,6571.0,64.0,43.0,2193.0,218.0,2764.0
3,20.0,92.0,312.0,443.0,213.0,845.0,24.0,833.0,179.0,211.0,...,801.0,291.0,94500.0,4222.0,6365.0,65.0,39.0,1315.0,195.0,2735.0
4,22.0,91.0,312.0,346.0,190.0,647.0,16.0,733.0,186.0,179.0,...,807.0,279.0,91300.0,4116.0,6298.0,75.0,40.0,1378.0,191.0,2721.0

In [9]:
rng = pd.date_range('2012-01-01', periods=26304, freq='h')
rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2014-12-31 14:00:00', '2014-12-31 15:00:00',
               '2014-12-31 16:00:00', '2014-12-31 17:00:00',
               '2014-12-31 18:00:00', '2014-12-31 19:00:00',
               '2014-12-31 20:00:00', '2014-12-31 21:00:00',
               '2014-12-31 22:00:00', '2014-12-31 23:00:00'],
              dtype='datetime64[ns]', length=26304, freq='H')

In [10]:
elec['Zeit'] = rng
elec.head()

,Haushalt1,Haushalt2,Haushalt3,Haushalt4,Haushalt5,Haushalt6,Haushalt7,Haushalt8,Haushalt9,Haushalt10,...,Haushalt313,Haushalt314,Haushalt315,Haushalt316,Haushalt317,Haushalt318,Haushalt319,Haushalt320,Haushalt321,Zeit
0,14.0,69.0,234.0,415.0,215.0,1056.0,29.0,840.0,226.0,265.0,...,372.0,80100.0,4719.0,5002.0,48.0,38.0,1558.0,182.0,2162.0,2012-01-01 00:00:00
1,18.0,92.0,312.0,556.0,292.0,1363.0,29.0,1102.0,271.0,340.0,...,452.0,95200.0,4643.0,6617.0,65.0,47.0,2177.0,253.0,2835.0,2012-01-01 01:00:00
2,21.0,96.0,312.0,560.0,272.0,1240.0,29.0,1025.0,270.0,300.0,...,430.0,96600.0,4285.0,6571.0,64.0,43.0,2193.0,218.0,2764.0,2012-01-01 02:00:00
3,20.0,92.0,312.0,443.0,213.0,845.0,24.0,833.0,179.0,211.0,...,291.0,94500.0,4222.0,6365.0,65.0,39.0,1315.0,195.0,2735.0,2012-01-01 03:00:00
4,22.0,91.0,312.0,346.0,190.0,647.0,16.0,733.0,186.0,179.0,...,279.0,91300.0,4116.0,6298.0,75.0,40.0,1378.0,191.0,2721.0,2012-01-01 04:00:00

In [11]:
elec.set_index('Zeit', inplace=True)
elec.head()

,Haushalt1,Haushalt2,Haushalt3,Haushalt4,Haushalt5,Haushalt6,Haushalt7,Haushalt8,Haushalt9,Haushalt10,...,Haushalt312,Haushalt313,Haushalt314,Haushalt315,Haushalt316,Haushalt317,Haushalt318,Haushalt319,Haushalt320,Haushalt321
Zeit,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00,14.0,69.0,234.0,415.0,215.0,1056.0,29.0,840.0,226.0,265.0,...,676.0,372.0,80100.0,4719.0,5002.0,48.0,38.0,1558.0,182.0,2162.0
2012-01-01 01:00:00,18.0,92.0,312.0,556.0,292.0,1363.0,29.0,1102.0,271.0,340.0,...,805.0,452.0,95200.0,4643.0,6617.0,65.0,47.0,2177.0,253.0,2835.0
2012-01-01 02:00:00,21.0,96.0,312.0,560.0,272.0,1240.0,29.0,1025.0,270.0,300.0,...,817.0,430.0,96600.0,4285.0,6571.0,64.0,43.0,2193.0,218.0,2764.0
2012-01-01 03:00:00,20.0,92.0,312.0,443.0,213.0,845.0,24.0,833.0,179.0,211.0,...,801.0,291.0,94500.0,4222.0,6365.0,65.0,39.0,1315.0,195.0,2735.0
2012-01-01 04:00:00,22.0,91.0,312.0,346.0,190.0,647.0,16.0,733.0,186.0,179.0,...,807.0,279.0,91300.0,4116.0,6298.0,75.0,40.0,1378.0,191.0,2721.0

In [12]:
elec_s = elec.loc["2012-06-04 02:00:00":"2012-06-05 21:00:00",'Haushalt4']
elec_s.head()

Zeit
2012-06-04 02:00:00    272.0
2012-06-04 03:00:00    262.0
2012-06-04 04:00:00    255.0
2012-06-04 05:00:00    241.0
2012-06-04 06:00:00    203.0
Name: Haushalt4, dtype: float64

<h3>Daten abspeichern</h3>

In [13]:
HH = 'Haushalt8'
em = pd.DataFrame(elec.loc["2012-05-01":"2012-05-31",HH])
em.head()

                     Haushalt8
Zeit
2012-05-01 00:00:00      834.0
2012-05-01 01:00:00      824.0
2012-05-01 02:00:00      681.0
2012-05-01 03:00:00      530.0
2012-05-01 04:00:00      672.0

In [14]:
em = em.reset_index(level=0)
em.columns = ['Zeit','Strom']
em.head()

                 Zeit  Strom
0 2012-05-01 00:00:00  834.0
1 2012-05-01 01:00:00  824.0
2 2012-05-01 02:00:00  681.0
3 2012-05-01 03:00:00  530.0
4 2012-05-01 04:00:00  672.0

In [15]:
em.to_csv('em_HH8_2012_05.csv')

In [16]:
em2 = pd.read_csv("em_HH8_2012_05.csv", index_col=0)
em2['Zeit'] = pd.to_datetime(em2['Zeit'])
em2.head()

                 Zeit  Strom
0 2012-05-01 00:00:00  834.0
1 2012-05-01 01:00:00  824.0
2 2012-05-01 02:00:00  681.0
3 2012-05-01 03:00:00  530.0
4 2012-05-01 04:00:00  672.0

<div class="alert alert-info">
- Kreiere dir einen ähnlichen Datensatz für Haushalt 4 und das gesamte Jahr 2012 aus der Tabelle<br>
- Speichere ihn unter 'em_HH4_2012.csv' ab<br>
- Öffne den gespeicherten Datensatz und benenne die Spalten um<br>
- Speichere dir dann zusätzlich den 'ene' und 'elec' Datensatz unter 'ene.csv' bzw. 'elec.csv' ab
</div>

<span style="color:white">
HH3 = 'Haushalt8'
em3 = pd.DataFrame(elec.loc["2012-01-01":"2012-12-31",HH3])
em3 = em3.reset_index(level=0)
em3.columns = ['Zeit','Strom']
em3.to_csv('em_HH4_2012.csv')
</span>

In [17]:
ene.to_csv('ene.csv')
elec.to_csv('elec.csv')

<h2>1.2 Einführung in Zeitreihen</h2>

s. Slides

<h3>Basisoperationen mit Zeitreihendaten</h3>

In [18]:
solar = ene.drop(['Fossile','Wind'], axis = 1)
solar.head(12)

            Solar
Datum
2016-01-01    702
2016-02-01   1350
2016-03-01   2591
2016-04-01   4129
2016-05-01   5190
2016-06-01   5436
2016-07-01   5436
2016-08-01   5191
2016-09-01   4233
2016-10-01   1846
2016-11-01   1122
2016-12-01    875

In [19]:
solar_s = solar.head(3)
solar_s.mean()

Solar    1547.666667
dtype: float64

In [20]:
solar_t = solar.loc["2020-01-01":"2020-06-30"]
solar_t.mean()

Solar    4818.333333
dtype: float64

In [21]:
solar_s.std()

Solar    959.887667
dtype: float64

In [22]:
solar_yearly = solar.resample("Y").mean()
solar_yearly.round(2)

              Solar
Datum
2016-12-31  3175.08
2017-12-31  3283.50
2018-12-31  3815.33
2019-12-31  3959.75
2020-12-31  5049.50

<h3>Resampling</h3>

Statt '.mean()' kann auch etwa durch '.sum()' aggregiert werden.

S: Seconds<br>
min: Minutes<br>
H: Hours<br>
D: Day<br>
W: Week<br>
M: Month<br>
Q: Quarter<br>
Y: Year<br>

Normalerweise zum Ende der Zeitperiode. Um zum Anfang zu aggregieren, ein 'S' anhängen: 'YS'

<div class="alert alert-info">
- Kreiere dir eine Wind-Produktionszeitreihe aus dem vorhandenen Datensatz<br>
- Finde heraus, wie viel Windstrom in jedem Jahr produziert wurde<br>
- Mache dies zunächst 'per Hand', indem du die Zeiträume auswählst und dann aggregierst<br>
- Löse die Aufgabe danach erst durch Resampling
</div>